
<app-header></app-header>

<div class="new-trip container-fluid">
    <div style="width: 400px; margin: auto;">
        <h3>Create new Project</h3>

        <form (ngSubmit)="onSavePlan()">
            <div class="form-group">
                <label for="tripName">Project name</label>
                <input type="text" id="tripName" name="tripName" class="form-control"
                required [(ngModel)]='project.projectName'  >
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control"
                required [(ngModel)]='project.projectDesc' >
            </div>
            <div class="form-group">
                <label for="cities">Organization</label>
                <input class="form-control" name="cities"
                required [(ngModel)]='project.organization' >
            </div>
             <div class="form-group">
                <label for="distance">Country</label>
                <input type="text" id="distance" name="distance" class="form-control"
                required [(ngModel)]='project.country' >
            </div>
            <div class="form-group">
                <label for="distance">City</label>
                <input type="text" id="distance" name="distance" class="form-control"
                required [(ngModel)]='project.city' >
            </div>
            <div class="form-group">
                <label for="price">Working hours</label>
                <input type="text" id="price" name="price" class="form-control"
                required [(ngModel)]='project.value' >
            </div>
            
            <button type="submit" class="button btn">Save</button>
        </form>
    </div>
</div>